name: CD

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "stable"
          cache: true

      - name: Build binary
        run: go build -v -ldflags "-s -w" -o gopac .

      - name: Get commit details
        id: get_commit
        run: |
          echo "COMMIT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
          echo "COMMIT_MSG<<EOF" >> $GITHUB_ENV
          git log -1 --pretty=%B >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: gopac
          generate_release_notes: true
          overwrite_files: true
          body: |
            **Commit:** `${{ env.COMMIT_SHA }}`

            **Message:**
            ${{ env.COMMIT_MSG }}
