name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    container: archlinux:latest
    steps:
    - name: Update System & Install Deps
      run: |
        pacman -Syu --noconfirm
        pacman -S --noconfirm git go base-devel

    - uses: actions/checkout@v4

    - name: Mark git directory as safe
      run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
